* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background: #1E1E1E;
    color: #fff;
    font-family: sans-serif;
}

main {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   height: 100%;
   padding: 5rem;
}

main div {
    width: 8rem;
    height: 8rem;
    display: inline-block;
    animation: spin 3s linear infinite;
}

main div svg {
    width: 100%;
    height: 100%;
}

main p {
    position: absolute;
    bottom: 5%;
    font-size: 0.9rem;
    text-align: center;
}

@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  